<p-dialog
  [header]="headerLabel"
  [(visible)]="isVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [styleClass]="'modal'"
  (onShow)="getTransactionData()"
  (onHide)="hideModal()"
>
  @if (isLoading) {
    <div class="loading-indicator">
      <p-progressSpinner strokeWidth="4" />
    </div>
  } @else {
    <form
      [formGroup]="transactionForm"
      (ngSubmit)="saveTransaction()"
      class="flex flex-col gap-3 px-4 py-2"
    >
      <div class="form-control">
        <label>Cantidad</label>
        <input formControlName="amount" pInputText type="number" min="0" />
      </div>

      <div class="form-control">
        <label>Descripción</label>
        <textarea
          formControlName="description"
          rows="3"
          cols="30"
          pInputTextarea
        ></textarea>
      </div>

      <div class="form-control">
        <label>Cuenta</label>
        <p-dropdown
          formControlName="accountId"
          [options]="(userAccounts$ | async)!"
          optionLabel="name"
          optionValue="id"
          [styleClass]="'w-full'"
        />
      </div>

      <div class="form-control">
        <label>Categoría</label>
        <p-dropdown
          formControlName="categoryId"
          [options]="(categories$ | async)!"
          optionLabel="name"
          optionValue="id"
          [styleClass]="'w-full'"
        />
      </div>

      <div class="form-control gap-3">
        <span>Tipo de transacción</span>
        @for (type of transactionTypes; track type.value) {
          <p-radioButton
            inputId="{{ type.value }}"
            name="transactionType"
            [value]="type.value"
            formControlName="transactionType"
          />
          <label [for]="type.value" class="ml-2">{{ type.name }}</label>
        }
      </div>

      <div class="form-control">
        <label>Fecha</label>
        <p-calendar
          formControlName="createdDate"
          [styleClass]="'w-full'"
        />
      </div>

      <button
        type="submit"
        pButton
        label="Guardar"
        class="form-button p-button-rounded p-button-primary"
        [loading]="isSaving"
        [disabled]="transactionForm.invalid || isSaving"
      ></button>
  </form>
  }
</p-dialog>
