<p-dialog
  [header]="headerLabel"
  [(visible)]="isVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [styleClass]="'w-[500px] h-1/2 min-h-[730px]'"
  (onShow)="getTransactionData()"
  (onHide)="hideModal()"
>
  <div *ngIf="isLoading; else form" class="loading-indicator">
    <p-progressSpinner strokeWidth="4"></p-progressSpinner>
  </div>

  <ng-template #form>
    <form
      [formGroup]="transactionForm"
      (ngSubmit)="saveTransaction()"
      class="flex flex-col gap-3 px-4 py-2"
    >
      <div class="form-control">
        <label>Cantidad</label>
        <input formControlName="amount" pInputText type="number" min="0" />
      </div>

      <div class="form-control">
        <label>Descripción</label>
        <textarea
          formControlName="description"
          rows="3"
          cols="30"
          pInputTextarea
        ></textarea>
      </div>

      <div class="form-control">
        <label>Cuenta</label>
        <p-dropdown
          formControlName="accountId"
          [options]="(userAccounts$ | async)!"
          optionLabel="name"
          optionValue="id"
          [styleClass]="'w-full'"
        ></p-dropdown>
      </div>

      <div class="form-control">
        <label>Categoría</label>
        <p-dropdown
          formControlName="categoryId"
          [options]="(categories$ | async)!"
          optionLabel="name"
          optionValue="id"
          [styleClass]="'w-full'"
        ></p-dropdown>
      </div>

      <div class="form-control gap-3">
        <span>Tipo de transacción</span>
        <div *ngFor="let type of transactionTypes">
          <p-radioButton
            inputId="{{ type.value }}"
            name="transactionType"
            [value]="type.value"
            formControlName="transactionType"
          ></p-radioButton>
          <label [for]="type.value" class="ml-2">{{ type.name }}</label>
        </div>
      </div>

      <button
        type="submit"
        pButton
        label="Guardar"
        class="form-button p-button-rounded p-button-info"
        [loading]="isSaving"
        [disabled]="transactionForm.invalid || isSaving"
      ></button>
    </form>
  </ng-template>
</p-dialog>
