<div class="section-content">
  <h4 class="text-2xl font-bold">Cuentas</h4>
  <p-divider></p-divider>

  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      [(ngModel)]="search"
      (ngModelChange)="searchAccounts()"
      placeholder="Buscar"
    />
  </span>

  <button
    pButton
    label="Agregar"
    icon="pi pi-plus"
    class="p-button-rounded ml-3"
    (click)="showAccountModal()"
  ></button>
</div>

<div *ngIf="isLoading" class="loading-indicator">
  <p-progressSpinner strokeWidth="4"></p-progressSpinner>
</div>

<article *ngFor="let account of accounts$ | async" class="section-content">
  <div class="grid grid-cols-4 items-center">
    <div class="flex items-center space-x-4">
      <div
        class="w-[40px] h-[40px] flex justify-center items-center rounded-full text-white"
        [ngClass]="
          isBankAccount(account.typeAccount) ? 'bg-gray-400' : 'bg-green-600'
        "
      >
        <i
          [ngClass]="
            isBankAccount(account.typeAccount)
              ? 'fa-solid fa-building-columns'
              : 'fa-solid fa-wallet'
          "
        ></i>
      </div>
      <span class="font-semibold truncate">{{ account.name }}</span>
    </div>
    <div class="text-gray-400 truncate">
      {{ account.typeAccount | typeAccount }}
    </div>
    <div>
      <span class="font-semibold truncate"
        >{{ account.balance | number }} COP</span
      >
    </div>
    <div class="text-right">
      <button
        type="button"
        pButton
        icon="pi pi-ellipsis-v"
        class="p-button-secondary p-button-text p-button-sm"
        (click)="menu.toggle($event)"
      ></button>
      <p-menu
        #menu
        [model]="options"
        [popup]="true"
        (click)="onClickAccount(account.id)"
      ></p-menu>
    </div>
  </div>
</article>

<app-modal-account
  [(isVisible)]="isModalVisible"
  [(accountId)]="accountId"
></app-modal-account>

<p-confirmDialog
  [styleClass]="'confirm-dialog'"
  acceptLabel="Si"
  rejectLabel="No"
  acceptButtonStyleClass="p-button-info"
  rejectButtonStyleClass="p-button-danger"
></p-confirmDialog>
