<div class="section-content">
  <h4 class="section-title">Cuentas</h4>
  <p-divider />

  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      [(ngModel)]="search"
      (ngModelChange)="searchAccounts()"
      placeholder="Buscar"
    />
  </span>

  <button
    pButton
    label="Agregar"
    icon="pi pi-plus"
    class="p-button-rounded ml-3"
    (click)="showAccountModal()"
  ></button>
</div>

@if (isLoading) {
  <div class="loading-indicator loading-indicator-section">
    <p-progressSpinner strokeWidth="4" />
  </div>
}

@if ({ data: (accounts$ | async) }; as accounts) {
  @if (accounts.data?.length) {
    @for (account of accounts.data; track account.id) {
      <article class="section-content">
        <div class="grid grid-cols-4 items-center">
          <div class="flex items-center space-x-4">
            <div
              class="w-[40px] h-[40px] flex justify-center items-center rounded-full text-white"
              [ngClass]="
                isBankAccount(account.typeAccount) ? 'bg-gray-400' : 'bg-green-600'
              "
            >
              <i
                [ngClass]="
                  isBankAccount(account.typeAccount)
                    ? 'fa-solid fa-building-columns'
                    : 'fa-solid fa-wallet'
                "
              ></i>
            </div>
            <span class="font-semibold truncate">{{ account.name }}</span>
          </div>
          <div class="text-gray-400 truncate">
            {{ account.typeAccount | typeAccount }}
          </div>
          <div>
            <span class="font-semibold truncate"
              >{{ account.balance | number }} COP</span
            >
          </div>
          <div class="text-right">
            <button
              type="button"
              pButton
              icon="pi pi-ellipsis-v"
              class="p-button-secondary p-button-text p-button-sm"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu
              #menu
              [model]="options"
              [popup]="true"
              (click)="onClickAccount(account.id)"
            />
          </div>
        </div>
      </article>
    }
  }

  @if (!isLoading && !accounts.data?.length) {
    <app-no-data />
  }

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 20, 30]"
  />
}

<app-modal-account
  [(isVisible)]="isModalVisible"
  [(accountId)]="accountId"
  (reloadData)="getAccounts()"
/>

<p-confirmDialog
  [styleClass]="'confirm-dialog'"
  acceptLabel="Si"
  rejectLabel="No"
  acceptButtonStyleClass="p-button-primary"
  rejectButtonStyleClass="p-button-danger"
/>
