<div class="section-content">
  <h4 class="text-2xl font-bold">Cuentas</h4>
  <p-divider></p-divider>

  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input type="text" pInputText [(ngModel)]="search" placeholder="Buscar" />
  </span>

  <button
    pButton
    label="Agregar"
    icon="pi pi-plus"
    class="p-button-rounded ml-3"
  ></button>
</div>

<article *ngFor="let account of accounts" class="section-content">
  <div class="flex justify-between">
    <div>
      <span class="font-semibold">{{ account.name }}</span>
    </div>
    <div class="text-gray-400">{{ account.typeAccount | typeAccount }}</div>
    <div>
      <span class="font-semibold">{{ account.balance | number }} COP</span>
    </div>
  </div>
</article>
