<div class="section-content">
  <h4 class="text-2xl font-bold">Categorías</h4>
  <p-divider></p-divider>

  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      [(ngModel)]="search"
      (ngModelChange)="searchCategories()"
      placeholder="Buscar"
    />
  </span>

  <button
    pButton
    label="Agregar"
    icon="pi pi-plus"
    class="p-button-rounded ml-3"
    (click)="showCategoryModal()"
  ></button>
</div>

<div *ngIf="isLoading" class="loading-indicator h-[80%]">
  <p-progressSpinner strokeWidth="4"></p-progressSpinner>
</div>

<article *ngFor="let category of categories$ | async" class="section-content">
  <div class="flex justify-between items-center flex-wrap">
    <div class="flex items-center space-x-4">
      <div
        class="flex w-[40px] h-[40px] rounded-full justify-center items-center"
        [style.background-color]="category.color || '#000'"
      >
        <i [ngClass]="category.icon" class="text-white"></i>
      </div>
      <div class="font-semibold truncate">{{ category.name }}</div>
    </div>
    <div>
      <span class="text-gray-400 truncate">{{ category.description }}</span>
    </div>
    <div>
      <button
        #btn
        type="button"
        pButton
        icon="pi pi-ellipsis-v"
        class="p-button-secondary p-button-text p-button-sm"
        (click)="menu.toggle($event)"
      ></button>
      <p-menu
        #menu
        [model]="options"
        [popup]="true"
        (click)="onClickCategory(category.id)"
      ></p-menu>
    </div>
  </div>
</article>

<app-modal-category
  [(isVisible)]="isModalVisible"
  [(categoryId)]="categoryId"
  (reloadData)="getCategories()"
></app-modal-category>

<p-confirmDialog
  [styleClass]="'confirm-dialog'"
  acceptLabel="Si"
  rejectLabel="No"
  acceptButtonStyleClass="p-button-info"
  rejectButtonStyleClass="p-button-danger"
></p-confirmDialog>
