<div class="section-content">
  <h4 class="section-title">Categorías</h4>
  <p-divider></p-divider>

  <span class="p-input-icon-left">
    <i class="pi pi-search"></i>
    <input
      type="text"
      pInputText
      [(ngModel)]="search"
      (ngModelChange)="searchCategories()"
      placeholder="Buscar"
    />
  </span>

  <button
    pButton
    label="Agregar"
    icon="pi pi-plus"
    class="p-button-rounded ml-3"
    (click)="showCategoryModal()"
  ></button>
</div>

<div *ngIf="isLoading" class="loading-indicator loading-indicator-section">
  <p-progressSpinner strokeWidth="4"></p-progressSpinner>
</div>

<ng-container *ngIf="{ data: (categories$ | async) } as categories">
  <div *ngIf="categories.data?.length">
    <article *ngFor="let category of categories.data" class="section-content">
      <div class="flex justify-between items-center flex-wrap">
        <div class="flex items-center space-x-4">
          <div
            class="category-icon"
            [style.background-color]="category.color || '#000'"
          >
            <i [ngClass]="category.icon" class="text-white"></i>
          </div>
          <div class="font-semibold truncate">{{ category.name }}</div>
        </div>
        <div>
          <span class="text-gray-400 truncate">{{ category.description }}</span>
        </div>
        <div>
          <ng-container *ngIf="category.userId === user.id">
            <button
              #btn
              type="button"
              pButton
              icon="pi pi-ellipsis-v"
              class="p-button-secondary p-button-text p-button-sm"
              (click)="menu.toggle($event)"
            ></button>
            <p-menu
              #menu
              [model]="options"
              [popup]="true"
              (click)="onClickCategory(category.id)"
            ></p-menu>
          </ng-container>
        </div>
      </div>
    </article>
  </div>

  <app-no-data *ngIf="!isLoading && !categories.data?.length"></app-no-data>

  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="first"
    [rows]="pageSize"
    [totalRecords]="totalRecords"
    [rowsPerPageOptions]="[10, 20, 30]"
  ></p-paginator>
</ng-container>

<app-modal-category
  [(isVisible)]="isModalVisible"
  [(categoryId)]="categoryId"
  (reloadData)="getCategories()"
></app-modal-category>

<p-confirmDialog
  [styleClass]="'confirm-dialog'"
  acceptLabel="Si"
  rejectLabel="No"
  acceptButtonStyleClass="p-button-info"
  rejectButtonStyleClass="p-button-danger"
></p-confirmDialog>
