@if (
  !isLoading &&
  spendingTransactionsData &&
  spendingTransactionsData.datasets[0].data?.length > 0
) {
  <div class="text-right">
    <button
      type="button"
      pButton
      icon="pi pi-ellipsis-v"
      class="p-button-secondary p-button-text p-button-sm"
      (click)="menuSpending.toggle($event)"
    ></button>
    <p-menu #menuSpending [model]="options" [popup]="true" />
  </div>

  <p-chart
    type="doughnut"
    [data]="spendingTransactionsData"
    [options]="spendingOptions"
    [responsive]="true"
    [height]="'500px'"
  />
}

@if (isLoading) {
  <div class="loading-indicator h-full">
    <p-progressSpinner strokeWidth="4" />
  </div>
}

@if (
  !isLoading &&
  spendingTransactionsData &&
  !spendingTransactionsData.datasets[0].data?.length
) {
  <app-no-data
    imageSrc="assets/pie-chart.svg"
    message="No se encontraron gastos registrados."
  />
}

<app-widget-settings
  [(isVisible)]="isSettingsModalVisible"
  [widgetType]="widgetType.SpendingByCategory"
  (periodSelected)="onPeriodSelected($event)"
/>
