<nav class="sidebar">
  <a
    class="flex items-center space-x-3 m-2 p-4 border border-gray-200"
    routerLink="/home"
  >
    <i
      class="fa-solid fa-duotone fa-wallet text-5xl text-gray-500 cursor-pointer"
    ></i>
    <span class="text-xl font-bold">Easy Bills</span>
  </a>
  <ul>
    <li *ngFor="let item of links" class="sidebar-item">
      <a [routerLink]="item.url" routerLinkActive="sidebar-item-active">
        <i [ngClass]="item.icon || ''"></i>
        <span>{{ item.title }}</span>
      </a>
    </li>
    <li class="sidebar-item cursor-pointer">
      <a (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
        <span>Cerrar sesión</span>
      </a>
    </li>
  </ul>
</nav>
