<section class="auth-section">
  <form
    [formGroup]="registerForm"
    (ngSubmit)="registerUser()"
    class="form-auth"
  >
    <h4 class="form-title">Registrarse</h4>

    <div class="form-control">
      <label htmlFor="firstName">Nombre</label>
      <input formControlName="firstName" type="text" pInputText />
    </div>

    <div class="form-control">
      <label htmlFor="lastName">Apellido</label>
      <input formControlName="lastName" type="text" pInputText />
    </div>

    <div class="form-control">
      <label htmlFor="email">Email</label>
      <input formControlName="email" type="email" pInputText />
    </div>

    <div class="form-control">
      <label htmlFor="password">Contraseña</label>
      <p-password
        #password
        formControlName="password"
        [toggleMask]="true"
        [weakLabel]="'Débil'"
        [mediumLabel]="'Medio'"
        [strongLabel]="'Fuerte'"
        [promptLabel]="'Ingresa una contraseña'"
      >
        <ng-template pTemplate="footer">
          <p class="mt-2">Sugerencias</p>
          <ul class="pl-2 ml-2 mt-0 leading-6 list-disc">
            <li>Al menos una letra minúscula</li>
            <li>Al menos una letra mayúscula</li>
            <li>Al menos un número</li>
            <li>Mínimo 8 carácteres</li>
          </ul>
        </ng-template>
      </p-password>
      <span *ngIf="isPasswordInvalid" class="control-error">
        {{ passwordErrorMessage }}
      </span>
    </div>

    <div class="form-control">
      <label htmlFor="password">Confirmar contraseña</label>
      <input
        formControlName="confirmPassword"
        [type]="!password.unmasked ? 'password' : 'text'"
        pInputText
      />
    </div>

    <button
      type="submit"
      pButton
      label="Registrarse"
      class="form-button p-button-rounded p-button-primary"
      [loading]="isLoading"
      [disabled]="registerForm.invalid || isLoading"
    ></button>

    <div>
      <hr />
      <p class="mt-5 text-center">
        ¿Ya tienes una cuenta?
        <a class="text-blue-600" routerLink="/auth/login">Iniciar sesión</a>
      </p>
    </div>
  </form>
</section>
