<section class="auth-section">
  <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="form-auth">
    <h4 class="form-title">Iniciar sesión</h4>

    <div class="form-control">
      <label htmlFor="email">Email</label>
      <input formControlName="email" type="email" pInputText />
    </div>

    <div class="form-control">
      <label htmlFor="password">Contraseña</label>
      <input formControlName="password" type="password" pInputText />
    </div>

    <button
      type="submit"
      pButton
      label="Iniciar sesión"
      class="form-button p-button-rounded p-button-info"
      [loading]="isLoading"
      [disabled]="loginForm.invalid || isLoading"
    ></button>

    <div>
      <hr />
      <p class="mt-5 text-center">
        ¿No tienes una cuenta?
        <a class="text-blue-600" routerLink="/auth/register">Regístrate</a>
      </p>
    </div>
  </form>
</section>
