<p-dialog
  [header]="headerLabel"
  [(visible)]="isVisible"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [styleClass]="'modal'"
  (onShow)="getAccountData()"
  (onHide)="hideModal()"
>
  @if (isLoading) {
    <div class="loading-indicator">
      <p-progressSpinner strokeWidth="4" />
    </div>
  } @else {
    <form
      [formGroup]="accountForm"
      (ngSubmit)="saveAccount()"
      class="flex flex-col gap-3 p-5"
    >
      <div class="form-control">
        <label>Nombre</label>
        <input formControlName="name" type="text" pInputText />
      </div>

      <div class="form-control">
        <label>Tipo de cuenta</label>
        <p-dropdown
          formControlName="typeAccount"
          [options]="accountTypes"
          optionLabel="label"
          optionValue="value"
          [styleClass]="'w-full'"
        />
      </div>

      <div class="form-control">
        <label>Saldo inicial</label>
        <input formControlName="balance" pInputText type="number" min="0" />
      </div>

      <button
        type="submit"
        pButton
        label="Guardar"
        class="form-button p-button-rounded p-button-primary"
        [loading]="isSaving"
        [disabled]="accountForm.invalid || isSaving"
      ></button>
    </form>
  }
</p-dialog>
