/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

html, body {
  font-family: 'Source Sans Pro', sans-serif;
}

.auth-section {
  @apply w-full h-screen bg-blue-600 flex flex-col justify-center items-center;
}

.form-auth {
  @apply bg-white rounded-lg p-10 w-[400px] m-auto flex flex-col justify-center gap-5;
}

.form-title {
  @apply text-center text-2xl font-bold mb-4;
}

.form-control {
  @apply flex flex-col gap-1;
}

.form-button {
  @apply mt-5;
}

.alert-message {
  @apply absolute w-[380px] right-4 bottom-0 z-[2000];
}

.p-password, .p-password input {
  width: 100% !important;
}

.control-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 14px;
  color: #dc3545;
}

.section-content {
  @apply bg-white p-4 m-2 rounded-md border border-gray-200;
}

.section-title {
  @apply text-2xl font-bold;
}

.p-progress-spinner-circle {
  stroke: #3B82F6 !important;
}

.loading-indicator {
  @apply w-full h-full flex justify-center items-center;
}

.loading-indicator-section {
  height: calc(100vh - 180px);
}

.modal {
  @apply w-[500px] h-auto;
}

.confirm-dialog {
  @apply w-1/4 min-w-[380px];
}

.category-icon {
  @apply flex w-[40px] h-[40px] rounded-full justify-center items-center;
}
